@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #efefef;
}



#menu {
    display: flex;
    background-color: #f2e6ac;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 0 1rem 1rem #f5f5f5;
    font-size: 1rem;
    font-weight: bold;
}

#menu a {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    font-family: Acme, sans-serif;

}

#menu a:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
}

#divBusca {
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
}

#divBusca button {
    border-radius: 15px;
    border: none;
    padding: 0.3em;
    font-size: 15px;
    background-color: transparent;
}

#divBusca button:hover {
    color: #00008B;
    background-color: white;
}

#txtBusca {
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
}

.title {
    color: #00008B;
    text-align: center;
    margin: 15px 0px 30px 0px;
}

header {
    padding: 10px;
    margin-top: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #eead2d;
    box-shadow: 10px 5px 5px black;

}

header h1{
    font-family: 'Acme', sans-serif;
    font-size: 3rem;

}

header img {
    border-radius: 50%;
    zoom: 1.2;
    padding: 10px;
    margin-left: 30px;
    box-shadow: 10px 5px 5px black;
}

hr {
    background-color: #00008B;
    height: 5px;
    width: 70%;
    margin: 10px auto;
}

#about {
    padding: 150px;
    margin-top: 3px;
    color: #000;
    background-color: #f2e6ac;
    text-align: center;
    font-weight: bold;

}

#about h2 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: Acme, sans-serif;
}

.premiados h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: Acme, sans-serif;
    margin-top: 30px;
    color: #000;
}

.container{
width: 1120px;
margin: 0 auto;
}

.container li{
    display: inline-block;
    padding-bottom: 20px; 
    width: 30%;
}

.slide-container {
    max-width: 1120px;
    width: 100%;

}

.slide-content {
    margin: 10px 0px;
    margin-left: 40px;
}

.card {
    width: 250px;
    height: 600px;
    border-radius: 25px;
    background-color: #fff;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    padding-top: 20px;
}

.card-content h2 {
    font-weight: bold;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;

    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f2e6ac;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #f2e6ac;

}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;

}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #f2e6ac;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.card-favorite {
    background: transparent;
    font-size: 35pt;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;

}
.card-favorite:hover {
    color: #ffff00;    
}

footer {
    width: 100%;
    min-height: 50px;
    background: #f2e6ac;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

form label {
    font-size: 17px;
    margin-bottom: 4px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    border: 2px solid #f2e6ac;
    border-radius: 5px;
    background-color: #FFFFFF;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    border: 2px solid #f2e6ac;
    border-radius: 5px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    border: 2px solid #f5f5f5;
    background: #f2e6ac;
    margin-bottom: 20px;
    border-radius: 10px;
}


@media(max-width: 950px) {
    footer {
        flex-direction: column;
    }

    footer .boxs {
        width: 100%;
        text-align: center;
    }

    footer .boxs:nth-child(4) {
        width: 100%;
    }
}